:root {
	--main-background-color: black;
	--main-font-color: white;
	--button-font-color: black ;
	--button-color:red;
}

@media (prefers-color-scheme: light) {
	:root {
		--main-background-color: white;
		--button-color:blue;
		--main-font-color: black;
		--button-font-color: white;
	}
}
